<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stair-shaped Board</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
	function showBoard() {
		let str = $("#stairContent").text();
		str = str.replace(/<br\s*\/?>/img, '\r\n'); //엔터 처리
		$("#stairContent").text(str);
	}
	function updateBoard() {
		let str = $("#stairContent").val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br />'); //엔터 처리
		$("#stairContent").val(str);
	}
</script>
</head>
<body>
	<form id="stairBoardForm" th:action="@{/stairShapedBoardUpdate}"
		th:object="${board}" onsubmit="updateBoard()" method="post">
		<input type="hidden" th:field="*{prntno}">
		<input type="hidden" th:field="*{no}">
		제목: <input type="text" size="30" th:field="*{title}"><br>
		글쓴이: <span th:text="*{writer}"></span><br>
		내용: <textarea id="stairContent" rows="30" cols="100" th:field="*{content}"></textarea>
		<br> <input type="submit" value="수정">
	</form>
</body>
</html>