<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PageMakerMapper">
	<select id="testlist" resultType="com.example.demo.bean.FileBoardVO">

		SELECT * FROM
			(SELECT A.*, ROWNUM AS RNUM FROM
				(SELECT * FROM file_board ORDER BY b_no)A
			WHERE ROWNUM <![CDATA[<]]>= #{contentnum})
		WHERE RNUM <![CDATA[>]]>= #{pagenum}

	</select>

	<select id="testcount" resultType="int">
		SELECT count(*) from file_board
	</select>

</mapper>