<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!--부트스트랩 css 추가-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>



	<div class="container">
		<div class="jumbotron" style="padding: 20px; text-align: center;">
			<h1>자유게시판</h1>
			<p>제안/아이디어</p>

		</div>
		<form action="#" th:action="@{/yjBoard/update}"
			th:object="${viewContent}">


			<div class="input-group ">
				<div class="input-group-prepend">
					<span class="input-group-text">글번호</span> <input
						class="form-control" type="text" th:field="*{idx}" name="idx"
						readonly="readonly">
				</div>
				<span class="input-group-text">조회수</span>
				<p th:text="${viewContent.view_cnt}" class="form-control"></p>
				<span class="input-group-text">작성날짜</span>
				<p
					th:text="${#dates.format(viewContent.reg_date, 'yyyy-MM-dd HH:mm')}"
					class="form-control"></p>
				<span class="input-group-text">작성자</span>
				<p th:text="${viewContent.writer}" class="form-control"></p>

			</div>



			<div class="form-group">
				<label>제목</label> <input class="form-control" type="text"
					th:field="*{title}" id="title" name="title">
			</div>

			<div class="form-group">
				<label>내용</label>
				<textarea rows="10" th:field="*{content}" id="content"
					name="content" class="form-control"></textarea>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="btn-save">수정</button>
				<button type="button" onclick="location.href='/yjBoard/list'"
					class="btn btn-primary" data-dismiss="modal">취소</button>
			</div>
		</form>
	</div>
</body>
</html>