<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>CrazyAcade - 자료실</title>
<script type="text/javascript">

function page(idx){
	var pagenum = idx;
	var contentnum = $("contentnum option: selected").val;
	location.href=
		"${pageContext.request.contextPath}/fileBoard/list?pagenum="+pagenum+"&contentnum="+contentnum;
}

</script>

<style type="text/css">

li {
	list-style: none;
	float: left;
}

</style>

</head>

<body>
<div class="container">

<div class="jumbotron" style="padding: 10px; text-align: center;">
	<h1><a th:href="@{/fileBoard/list}" style="text-decoration: none;">CrazyAcade - 자료실</a></h1>
</div>

<!--/* 타임리프 관련 태그에 내용이 없어도 무적권 에러ㅇㅅㅇ */-->

<div>
	<table class="table table-bordered">
	<thead class="thead-dark" style="text-align: center;">
		<tr>
			<th style="text-align: center;">순서</th>
			<th style="text-align: center;">작성자</th>
			<th>제목</th>
			<th style="text-align: center;">작성일</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="data : ${testlist}" th:onclick="'window.location.href = \'' + @{/fileBoard/detail/{bno}(bno=${data.b_no})} + '\''">
			<td th:text="${data.b_no}" style="cursor: pointer; text-align: center;"></td>			
			<td th:text="${data.writer}" style="cursor: pointer; text-align: center;"></td>
			<td th:text="${data.title}" style="cursor: pointer;"></td>
			<td th:text="${data.reg_date}" style="cursor: pointer; text-align: center;"></td>
		</tr>
	</tbody>
	</table>
</div>
	<div style="text-align: center;">
		<ul class="paginaton" style="display: inline-block;">
			<li th:classappend="${page.isPrev()!=true}?'disabled'" class="page-item">
					<a class="page-link" style="text-decoration: none;"
					th:href="@{/fileBoard/list(pagenum=${page.getStartPage()-1})}">&laquo;</a>
			</li>
			<li th:each="i : ${#numbers.sequence(page.getStartPage(), page.getEndPage())}" class="page-item">
					<a class="page-link" style="text-decoration: none;"
					th:href="@{/fileBoard/list(pagenum=${i})}" th:text="${i}"></a>
			</li>
			<li th:classappend="${page.isNext()!= true}?'disabled'" class="page-item">
				<a class="page-link" style="text-decoration: none;"
				th:href="@{/fileBoard/list(pagenum=${page.getEndPage()+1})}">&raquo;</a>
			</li>
		</ul>
	</div>

<div style="text-align: right;">
	<button class="btn btn-dark" onclick="location.href='/index'">홈으로</button>
	<button class="btn btn-info" onclick="location.href='/fileBoard/insert'">글작성</button>
</div>

<br/><br/><br/>
</div>
</body>
</html>